<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>photo-editor</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>photoeditor.servlets.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PhotoServlet</display-name>
    <servlet-name>PhotoServlet</servlet-name>
    <servlet-class>photoeditor.servlets.PhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TokenServlet</display-name>
    <servlet-name>TokenServlet</servlet-name>
    <servlet-class>photoeditor.servlets.TokenServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ReviewServlet</display-name>
    <servlet-name>/ReviewServlet</servlet-name>
    <servlet-class>photoeditor.servlets.ReviewServlet</servlet-class>
  </servlet>
  <error-page>
  	<error-code>404</error-code>
  	<location>/notfound.jsp</location>
  </error-page>
<!--   <filter>
    <display-name>myFilter</display-name>
    <filter-name>myFilter</filter-name>
    <filter-class>photoeditor.filter.myFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>myFilter</filter-name>
    <url-pattern>/myFilter</url-pattern>
  </filter-mapping> -->
</web-app>